.dashboard {
  display: flex;
  flex-direction: row;
}

.menu ul li {
  list-style: none;
  margin: 0;
}

.menu {
  width: 200px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  text-align: left;
}

.menu li  {
  padding: 20px 0;
    a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px 0;
    color: $black;
    padding: 0 10px;
  }

}

.menu li:hover {
    border: 1px solid $black
}

.icon {
  padding: 0px 10px;
  color: $black;
  
}