.mainBox {
  display: flex;
  flex-direction: row;
}

.notification {
  max-width: 60%;
}

.verification {
  max-width: 40%;
}

.topBar {
  display: flex;
  flex-direction: row;
    .iconN {
      font-size: 30px;
      padding: 10px;
    }
}

.icons {
  display: flex;
  flex-direction: row;
}

